:root{
    --main-color: #4C4C47;
    --main-color-dark: #2D2D2A;
    --accent-color: #FD7121;
}
body {
    display: block;
    margin: 0px;
    background-color: var(--main-color);
    color: white;
    font-family:'Poppins',Arial, Helvetica, sans-serif;
    height: 100%;
}
a{
    color:var(--accent-color);
    text-decoration: none;
}

header>*, main{
    padding: 0 150px;
}
header{
    height: 150px;
    width: 100%;
    background-color: var(--main-color-dark);
}
header>a{
    display: flex;
    align-items: center;
    height: 100%;
}
.logo{
    height: 80px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px black;

}

h1{
    color: white;
    padding: 0 30px;

}

.selector{
    display:flex;
    flex-wrap: false;
    
}
.selector>div{
    width: 33%;
    text-align: center;
    margin-top: 30px;
    background-color: var(--main-color-dark);
    padding: 10px;
    box-shadow: 2px 2px 4px #040404;

}
.selector>div:not(:first-child){
    margin-left:40px;

}
.selector>div>*{
    display: block; 
    margin: 20px auto;
    width: 100%;
    text-align: center;
    object-fit: contain;
}

.selector>div:hover{
    margin-top: 25px;
    margin-bottom: 5px;

}

.selector img{
    min-width: 20px;
    width: 200px;
    max-width: 100%;
    height: auto;
    padding: 15px;
    object-fit: contain;
}

.selector p{
    height: 130px;
    line-height: 22px;
    font-size: 18px;
}
.selector h2{
    font-size: 28px;
}
.button{
    width: 50% !important;
    padding: 5px;
    border-style: solid;
    border-radius: 5px;
    border-width: 3px;
}
.button:hover{
    filter:brightness(0.9);
}

@media only screen and (max-width: 1150px) {
    .selector{
        flex-direction: column;
    }
  }



